* { font-family: 'comic sans ms'; }

#wrapper { width: 1000px;
          margin-left: auto;
          margin-right: auto; }

body { background: #26D0EA; }

nav { width: 1000px;
          background: #FFCF2F; }

main { width: 1000px;
       background: #FFCF2F; }

header { background: #FFCF2F; 
         height: 150px; }

footer { background: #FFCF2F; 
           text-align: center; 
              clear: both; }

.feature {  display: inline-block; 
            margin: 15px; }

h1 { text-align: center; 
     font-size: 50px;
     line-height: 150px; }

h2 { font-size: 30px; }

p { font-size: 20px; }

.images { display: flex;
          justify-content: center; }

.form { width: 500px; 
        padding: 2px; 
        font-size: 15px; 
        margin: 10px; 
        border-color: yellow; }

.message { width: 450px; 
           padding: 40px; 
           font-size: 15px; 
           margin: 10px; 
           border-color: yellow; }

.button { width: 100px; 
          padding: 15px; 
          font-size: 15px; 
          margin: 10px; 
          border-radius: 3px; }

table { border: solid 3px black;
	border-collapse: collapse; 
	padding: 100px;
        margin-left: auto;
        margin-right: auto;
        width: 500px; }

th { text-align: center; 
        border: solid 1px black;
	border-collapse: collapse;
	font-size: 30px;
	padding: 10px;
        width: 300px; }

td { text-align: left; 
        border: solid 1px black;
	border-collapse: collapse; 
	padding: 10px;
        width: 300px; }

@media (max-width:900px){
body { background: green; }
}

@media (max-width:700px){
body { background: purple; }
}
